<?xml version="1.0"?>
<robot name="wheeltec_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- <gazebo>
    <plugin name="motor_controller" filename="libmotor_controller.so"/>
  </gazebo> -->
  <gazebo reference="base_link">
    <mu1 value="0.0"/>
    <mu2 value="0.0"/>
    <kp  value="10000000.0" />
    <kd  value="1.0" />
    <material>Gazebo/White</material>
  </gazebo>
  <gazebo reference="left_wheel_link">
    <material>Gazebo/Red</material>
    <mu1 value="2.0"/>
    <mu2 value="2.0"/>
    <kp  value="10000000.0" />
    <kd  value="1.0" />
    <fdir1 value="1 0 0"/>
  </gazebo>
  <gazebo reference="right_wheel_link">
    <material>Gazebo/Red</material>
    <mu1 value="2.0"/>
    <mu2 value="2.0"/>
    <kp  value="10000000.0" />
    <kd  value="1.0" />
    <fdir1 value="1 0 0"/>
  </gazebo>
  <gazebo reference="left_front_link">
    <material>Gazebo/Black</material>
    <mu1 value="2.0"/>
    <mu2 value="1.0"/>
    <kp  value="10000000.0" />
    <kd  value="1.0" />
    <fdir1 value="0 0 1"/>
  </gazebo>
  <gazebo reference="right_front_link">
    <material>Gazebo/Black</material>
    <mu1 value="2.0"/>
    <mu2 value="1.0"/>
    <kp  value="10000000.0" />
    <kd  value="1.0" />
    <fdir1 value="0 0 1"/>
  </gazebo>
  <gazebo reference="column_one">
    <mu1 value="0.0"/>
    <mu2 value="0.0"/>
    <kp  value="10000000.0" />
    <kd  value="1.0" />
    <material>Gazebo/White</material>
  </gazebo>
  <gazebo reference="column_two">
    <mu1 value="0.0"/>
    <mu2 value="0.0"/>
    <kp  value="10000000.0" />
    <kd  value="1.0" />
    <material>Gazebo/White</material>
  </gazebo>
  <gazebo reference="column_three">
    <mu1 value="0.0"/>
    <mu2 value="0.0"/>
    <kp  value="10000000.0" />
    <kd  value="1.0" />
    <material>Gazebo/White</material>
  </gazebo>
  <gazebo reference="column_four">
    <mu1 value="0.0"/>
    <mu2 value="0.0"/>
    <kp  value="10000000.0" />
    <kd  value="1.0" />
    <material>Gazebo/White</material>
  </gazebo>
  <gazebo reference="two_ply_link">
    <mu1 value="0.0"/>
    <mu2 value="0.0"/>
    <kp  value="10000000.0" />
    <kd  value="1.0" />
    <material>Gazebo/White</material>
  </gazebo>
  <gazebo reference="column_lidar_imu_link">
    <mu1 value="0.0"/>
    <mu2 value="0.0"/>
    <kp  value="10000000.0" />
    <kd  value="1.0" />
    <material>Gazebo/White</material>
  </gazebo>
<!-- Gazebo Plugins -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/wheeltec_robot</robotNamespace>
      <robotParam>robot_description</robotParam>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
      <jointName>left_wheel_link_joint, right_wheel_link_joint, front_steer_left_link_joint, front_steer_right_link_joint, right_front_link_joint,left_front_link_joint</jointName>
      <updateRate>50.0</updateRate>
      <robotNamespace>/wheeltec_robot</robotNamespace>
      <alwaysOn>true</alwaysOn>
    </plugin>
  </gazebo>
 
<gazebo reference="imu">
        <material>Gazebo/Orange</material>
        <gravity>true</gravity>
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>1000</update_rate>
            <visualize>true</visualize>
            <topic>__default_topic__</topic>
            <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
                <topicName>imu</topicName>
                <bodyName>imu</bodyName>
                <updateRateHZ>1000.0</updateRateHZ>
                <gaussianNoise>0.0</gaussianNoise>
                <xyzOffset>0 0 0</xyzOffset>
                <rpyOffset>0 0 0</rpyOffset>
                <frameName>imu</frameName>
            </plugin>
            <pose>0 0 0 0 0 0</pose>
        </sensor>
</gazebo>

</robot>